<form method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Login</button>
    {{#if errors}}
    {{#if errors.default}}
    <p>{{{errors.default}}}</p>
    {{/if}}
    {{/if}}

    <a href="/users/register/">Don't have an account? Register here</a>
</form>